ul a:hover {
    color: lightgray !important;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
}

.navBar {
    background-color: whitesmoke;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
}

.navBar h1 {
    color: rgb(187, 147, 95);
}

.navBar ul li {
    padding-bottom: 15px;
    font-weight: 800;
}
.navBar {
    text-align: center;
}

.nav-link {
    color: black !important;
}

.hrr {
    margin-left: 40px;
    margin-right: 40px;
}

.col a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
}

.col ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

#apropos {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 25px;

    background: no-repeat center center/cover url(bacgr.jpg);
}

.title h1 {
    text-align: left;
    margin-top: 10px;
}

.titre {
    border-radius: 10px;
    margin-right: 1500px;
    margin-left: 25px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.objectif {
    display: flex;
    flex-direction: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}

.mission {
    display: flex;
}

.vision {
    display: flex;
}

.tyu {
    border-radius: 50%;
    background-color: rgb(187, 147, 95);
}

.objectif h3 {
    color: rgb(187, 147, 95);
    text-align: center;
}

.logo {
    margin-top: 75px;
    margin-right: 10px;
}

.wer {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    margin: 10px;
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-color: rgb(187, 147, 95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}


.matiere{
    display: grid;
    grid-template-columns: repeat(2,313px);
    grid-template-rows: auto;
    justify-content: center;
    padding-bottom: 50px;
    background-color: whitesmoke;
}
.math{
    background-color: rgb(187, 147, 95);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.philo{
    background-color: rgb(187, 147, 95);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pc{
    background-color: rgb(187, 147, 95);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hg{
    background-color: rgb(187, 147, 95);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    background-color: rgb(187, 147, 95);
    border-radius: 10px;
}
.info1{
    background-color: #ffffff;
    border-radius: 10px;
}
.tre{
    text-align: center;
    color: rgb(187, 147, 95);
    line-height: 30px;
    margin-top: 15px;

}

.conseil h4{
text-align: center;
}
.conseil p{
    text-align: center;
    color: rgb(187, 147, 95);
    font-weight: 700;
}
.student{
    border-radius: 10px;
    margin-top: 300px;
}
.trabajo1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trabajo1 img{
    width: 40%;
    height: auto;
    margin: 30px ;
    border-radius: 10px;
}
.conseil1{
    background-color: whitesmoke;
    border-radius: 10px;
    height: auto;
    width: 40%;
    padding-top: 75px;
}
